* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Times New Roman", Times, serif;
}

body {
  padding: 15px;
}

.header {
  background-color: #f1ad18;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.header__title {
  color: rgb(0, 0, 0);
  font-weight: 200;
  text-align: center;
}






@media only screen and (min-width: 768px) {
  .header__title {
    font-weight: 300;
  }

 

}

@media only screen and (min-width: 992px) {
  .header__title {
    font-weight: 400;
  }
}